<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>newspapermvn-servlet-app</display-name>
<!--   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list> -->
  <!-- dispatcher servlet always look for spring config file in web-inf folder
  as dispatcher servlet object is created it calls a constructor that takes webapplicationContext as parameter -->
  <servlet>
  	<servlet-name>webApplicationContext</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
</web-app>